<div class="app app-default">
  <div class="app-container">
    <div class="row">
      <div class="col-xs-12">
        <div style="margin-bottom: 0px; margin-top: 50px;" class="pull-left">
          <img src="assets/rogfk_liggende_farger.jpg" class="img-responsive" height="75" width="261" />
        </div>
      </div>
    </div>
    <div style="padding-right: 0px" class="col-xs-12">
      <div class="pull-right">
        <button type="submit" class="btn btn-xs btn-default" (click)="refresh()"><span class="fa fa-refresh" aria-hidden="true"></span></button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <a class="card card-banner card-green-light" [routerLink]="['/']" [queryParams]="{type: 'confirmed'}">
          <div class="card-body">
            <i class="icon fa fa-user fa-4x"></i>
            <div class="content">
              <div class="title">Mine konsulenter</div>
              <div class="value"><span class="sign"></span>{{(consultants.CONFIRMED && consultants.CONFIRMED.length) || 0}}</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-4">
        <a class="card card-banner card-yellow-light" [routerLink]="['/']" [queryParams]="{type: 'pending'}">
          <div class="card-body">
            <i class="icon fa fa-user fa-4x"></i>
            <div class="content">
              <div class="title">Besvarte invitasjoner</div>
              <div class="value"><span class="sign"></span>{{(consultants.PENDING && consultants.PENDING.length) || 0}}</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-4">
        <a class="card card-banner card-blue-light" [routerLink]="['/']" [queryParams]="{type: 'invited'}">
          <div class="card-body">
            <i class="icon fa fa-user fa-4x"></i>
            <div class="content">
              <div class="title">Invitasjoner</div>
              <div class="value"><span class="sign"></span>{{(consultants.INVITED && consultants.INVITED.length) || 0}}</div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
          <div class="alert" [ngClass]="messageType" *ngIf="isMessageVisible" role="alert">
            {{message}}
          </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Inviter konsulent</h4>
              </div>
              <div class="modal-body">
                <input type="tel" class="form-control" [(ngModel)]="consultantNumber" placeholder="Skriv inn konsulentens mobilnummer">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Avbryt</button>
                <button type="button" class="btn btn-sm btn-success" data-dismiss="modal" (click)="inviteConsultant(consultantNumber)" >Inviter</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-mini">
          <div class="card-body no-padding table-responsive">
            <table class="table card-table">
              <thead>
                <tr>
                  <th>Fornavn</th>
                  <th>Etternavn</th>
                  <th>Organisasjon</th>
                  <th>Mobil</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of visibleConsultants">
                  <td style="vertical-align: middle!important;">{{item.firstName}}</td>
                  <td *ngIf="item.state !== 'INVITED'" style="vertical-align: middle!important;">{{item.lastName}}</td>
                  <td *ngIf="item.state === 'INVITED'" style="vertical-align: middle!important;"></td>
                  <td style="vertical-align: middle!important;">{{item.organization}}</td>
                  <td style="vertical-align: middle!important;">{{item.mobile}}</td>
                  <td style="vertical-align: middle!important;">
                    <span *ngIf="item.state === 'CONFIRMED'" class="badge badge-success badge-icon">
                      <i class="fa fa-check" aria-hidden="true"></i><span>{{item.state}}</span>
                    </span>
                    <span *ngIf="item.state === 'INVITED'" class="badge badge-info badge-icon">
                      <i class="fa fa-clock-o" aria-hidden="true"></i><span>{{item.state}}</span>
                    </span>
                    <span *ngIf="item.state === 'PENDING'" class="badge badge-warning badge-icon">
                      <i class="fa fa-clock-o" aria-hidden="true"></i><span>{{item.state}}</span>
                    </span>
                  </td>
                  <td style="vertical-align: middle!important;">
                    <button *ngIf="item.state === 'PENDING'" type="submit" class="btn btn-success btn-xs" (click)="confirm(item)" ><span class="fa fa-thumbs-up" aria-hidden="true"></span></button>
                    <button type="submit" class="btn btn-danger btn-xs" (click)="delete(item)" ><span class="fa fa-remove" aria-hidden="true"></span></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-floating-top" id="help-actions">
  <button type="button" class="btn btn-default btn-toggle"  data-toggle="modal" data-target="#myModal">
    <i class="icon fa fa-plus"></i>
    <span class="help-text">Shortcut</span>
  </button><div class="btn-bg"></div>
</div>
    <router-outlet></router-outlet>
  </div>
</div>
