<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <img src="images/rogfk-logo.jpg" data-th-src="|cid:rogfk-logo|" class="center-block img-responsive"
                 alt="Rogaland Fylkeskommune logo"/>
        </div>
    </div>

    <br/>
    <br/>

    <div class="row">
        <div class="col-xs-12">
            <h2 th:text="'Hei ' + ${consultantFullname} + '!'"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p th:text="'Velkommen som konsulent hos Rogaland fylkeskommune. Under finner du det du trenger for å få koblet deg til systemene hos oss. Hvis du trenger mer informasjon så ta kontakt med ' + ${owner} + '.'"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>
                <strong th:text="'Ditt brukernavn er: ' + ${consultantUsername}"/><br/>
                Passordet vil bli sendt på SMS.
            </p>
        </div>
    </div>

    <br/>
    <br/>
    <div class="row">

        <p>
            <strong>Med vennlig hilsen</strong><br/>
            <p th:text="${ownerFullname}" />
            <p th:text="'M: ' + ${ownerMobile} + '| E: ' + ${ownerMail}" />
            <br/><br/><br/>
            <small>
                IKT- og arkivavdeling | T: 51 51 67 00 | E: brukerhjelp@rogfk.no | W: <a href="http://www.rogfk.no">http://www.rogfk.no</a>
            </small>

        </p>
    </div>

</div>


</body>

</html>